@import '../../assets/styles/variables.scss';
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid #eee;
  padding-bottom: $padding-medium;
  h1 {
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.certifications {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  perspective: 10000px;
  @media #{$md-device} {
    flex-direction: row;
    perspective: 5000px;
  }
  padding: 0 $padding-small;
}

.certificate {
  margin-bottom: $margin-small;
  box-shadow: $color-light-dark 0px 0px 2px 1px;
  cursor: pointer;
  position: relative;
  height: 15rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;
  @media #{$md-device} {
    width: 45%;
  }
  &:hover {
    box-shadow: $color-dark-dark 0px 0px 2px 1px;
    transform: rotateY(180deg);
  }
}

.face {
  position: absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  &Front {
    background-color: $color-light;
    color: $color-light-contrast
  }
  &Back {
    background-color: $color-primary-dark;
    color: $color-primary-dark-contrast;
    transform: rotateY( 180deg);
    a {
      color: $color-primary-dark-contrast;
    }
  }
}