.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // flex-direction: column;
  &:hover {
    a.btn {
      transform: scale(1.1);
      background-color: green;
      color: white;
      box-shadow: 0 0 10px 1px yellowgreen;
    }
  }
}

a.btn {
  height: 100%;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s;

  &__inactive {
    box-shadow: 0 0 2px 1px black;
    background-color: white;
    color: black;
  }

  &__active {
    background-color: green;
    color: white;
    box-shadow: 0 0 10px 1px yellowgreen;
  }

  &:hover {
    transform: scale(1.2);
    background-color: green;
    color: white;
    box-shadow: 0 0 10px 1px yellowgreen;
  }
}

.label {
  margin-top: 0.5rem;
  padding: 0 .2rem;
  font-size: 1rem;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex: 1;
  align-self: center;
}

.center{
  background-color: white;
  box-shadow: 0 0 10px 1px yellowgreen;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.selected {
  transform: scale(1.1);
  background-color: green;
  color: white;
  box-shadow: 0 0 10px 1px yellowgreen;
}

// .inactive {
//   background-color: white;
//   box-shadow: 0 0 10px 1px yellowgreen;
//   width: 5px;
//   height: 5px;
//   border-radius: 50%;
// }