{
  "presets": [
    "react-app", ["flow"]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src", "./"],
      "alias": {
        "src": "./src",
        "components": "./src/components",
        "personal_website": "./src/personal_website",
        "store": "./src/store"
      }
    }]
  ]
}