@import '../../assets/styles/variables.scss';

.container {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  margin-bottom: $margin-medium;
  padding: 1rem;
}

.title {
  align-self: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}