@import '../../assets/styles/variables.scss';
@import '../../assets/styles/links.scss';
@import '../../assets/styles/animations.scss';
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 .25rem;
  @media #{$md-device} {
    padding: 0 .5rem;
  }
  @media #{$lg-device} {
    padding: 0 .5rem;
  }
  @media #{$xl-device} {
    padding: 0 .5rem;
  }
}

.logo {
  transition: all .5s;
  background-color: $color-light-light;
  border-radius: 50%;
  border: 1px solid $color-light;
  box-shadow: 0 0 1px 1px $color-dark-dark;
  z-index: 100;
  animation: appearFromLarge 2s 0s ease;
  &:hover {
    box-shadow: 0 0 10px 3px $color-primary-accent;
    animation: rotateClockwise 2s infinite;
  }
}

@keyframes appearFromLarge {
  0% {
    transform: scale(1.5);
    box-shadow: 0 0 10px 3px $color-primary-accent;
  }
  100% {
    transform: scale(1);
  }
}

.wrapper {
  align-self: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  li {
    animation: slideInFromTop .75s 0s ease-out;
    display: inline-block;
    margin: .1rem 1rem;
  }
}