@import '../assets/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  @media #{$xs-device} {
    margin: 0rem 0rem;
  }

  @media #{$md-device} {
    margin: 0.5rem 0.5rem;
  }

  @media #{$lg-device} {
    margin: 1rem 1.5rem;
  }

  @media #{$xl-device} {
    margin: 1rem 2rem;
  }
}

.header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white;
}

.skills {
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;

  @media #{$sm-device} {
    width: 90%;
    margin-bottom: 1.2rem;
  }

  @media #{$md-device} {
    width: 80%;
    margin-bottom: 2rem;
  }
}
