@import '../assets/styles/variables.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @media #{$xs-device} {
    margin: 0rem 0rem;
  }

  @media #{$md-device} {
    margin-right: 0.5rem;
  }

  @media #{$lg-device} {
    margin-right: 1.5rem;
  }

  @media #{$xl-device} {
    margin-right: 1rem 3rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex: 1;
  @media #{$xs-device} {
    margin-top: 0remm;
  }

  @media #{$md-device} {
    margin: 0rem 0.5rem;
  }

  @media #{$lg-device} {
    margin: 0rem 1.5rem;
  }

  @media #{$xl-device} {
    margin: 0rem 2rem;
  }
}

.header {
  background-color: #222;
  padding: 2rem;
  color: white;
  margin-bottom: $margin-big;
}

.hero {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.skills {
  width: 100%;
  align-self: center;
  margin-bottom: 1rem;

  @media #{$sm-device} {
    width: 90%;
    margin-bottom: 1.2rem;
  }

  @media #{$md-device} {
    width: 80%;
    margin-bottom: 2rem;
  }
}


.experiences {
  align-self: center;
  width: 80%;
  margin-bottom: $margin-medium;
}

.certifications {
  align-self: center;
  margin-bottom: $margin-big;
}

.sideNavigation{
  border-right: solid 2px black;
  width: 45px;
  background-color: $light-gray-1;
  display: none;

  @media #{$md-device} {
    display: block;
  }
}
