@import '../../assets/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  background-color: var(--light-gray-1);

  padding: 0 .25rem;
  @media #{$md-device} {
    padding: 0 .5rem;
  }

  @media #{$lg-device} {
    padding: 0 1rem;
  }

  @media #{$xl-device} {
    padding: 0 1rem;
  }
}

.logo {
  height: 3rem;
  width: 3rem;
}

.wrapper {
  align-self: center;
  width: 100%;
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;

  li {
    display: inline-block;
    margin: .1rem 1rem;
  }
}
