.container {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.3rem;
}

.logo {
  height: 2rem;
  width: 2rem;
  background-color: red;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--light-gray-1);
  flex: 1;
}
