@import '../../assets/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 0 .25rem;
  @media #{$md-device} {
    padding: 0 .5rem;
  }

  @media #{$lg-device} {
    padding: 0 .5rem;
  }

  @media #{$xl-device} {
    padding: 0 .5rem;
  }
}

.logo {
  transition: all .5s;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 1px 1px black;

  &:hover {
    transform: scale(1.2);
  }
}

.wrapper {
  align-self: center;
  width: 100%;
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;

  a {
    text-decoration: none;

    &:link {
      color: white;
    }

    &:visited{
      color: #ddd;
    }
  }

  li {
    display: inline-block;
    margin: .1rem 1rem;
    transition: all .5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
