@import '../../assets/styles/variables.scss';
@import '../../assets/styles/links.scss';
@import '../../assets/styles/page.scss';
@include container;
.wrapper {
  margin-bottom: $margin-medium;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-dark-light;
  margin-bottom: $margin-small;
  width: 90%;
  align-self: center;
}

.header {
  margin-bottom: $margin-big;
}

.footer {
  width: 100%;
}

.logos {
  display: flex;
  flex-direction: column;
  a {
    align-self: center;
    padding: $padding-small;
  }
  h3 {
    text-decoration: underline;
    color: $color-dark-dark;
    display: inline-flex;
  }
}