@import '../../assets/styles/variables.scss';
@import '../../assets/styles/links.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin-bottom: $margin-medium;
  width: 90%;
}

.header {
  background-color: #222;
  padding: 2rem;
  color: white;
  margin-bottom: $margin-big;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-dark-light;
  margin-bottom: $margin-small; 
}


.footer {
  width: 100%;
}

.logos {
  display: flex;
  flex-direction: column;
  background-color: $color-light-light;
  a {
    align-self: center;
    padding: $padding-small;
  }
  h3 {
    text-decoration: underline;
    color: $color-dark-dark;
    display: inline-flex;
  }
}