@import '../../assets/styles/variables.scss';
@import '../../assets/styles/links.scss';
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  background-color: $color-dark;
  padding: $margin-medium 0 $margin-small 0;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  @media #{$md-device} {
    flex-direction: row;
  }
}

.subWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: $margin-medium;
  @media #{$md-device} {
    width: 50%;
    margin-bottom: $margin-small;
  }
  &Title {
    color: $color-dark-contrast;
    margin-bottom: $margin-medium;
  }
  &Content {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-self: center;
  }
}

.copyright {
  margin-top: $margin-medium;
  color: $color-dark-contrast;
}

.logo {
  transition: all .5s;
  fill: $color-dark-contrast;
  &:hover {
    transform: scale(1.2);
  }
  &__twitter {
    &:hover {
      fill: #1da1f2;
    }
  }
  &__facebook {
    &:hover {
      fill: #3b5998;
    }
  }
  &__github {
    &:hover {
      fill: #000;
    }
  }
  &__instagram {
    &:hover {
      fill: #c32aa3;
    }
  }
  &__linkedin {
    &:hover {
      fill: #007bb5;
    }
  }
}