.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  background-color: var(--light-gray-1);
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.logo {
  &__twitter {
    &:hover {
      fill: #1da1f2;
    }
  }
  &__facebook{
    &:hover {
      fill: #3b5998;
    }
  }
  &__github{
    &:hover {
      fill: #000;
    }
  }
  &__instagram{
    &:hover {
      fill: #c32aa3;
    }
  }
  &__linkedin{
    &:hover {
      fill: #007bb5;
    }
  }
}