@import './variables.scss';

.link {
  text-decoration: none;
  color: #fff;
  transition: all .5s;
  &:link {
    color: $color-light-light;
  }
  &:visited {
    color: $color-light-dark;
  }

  &__active {
    color: $color-primary-accent;
    text-decoration: underline;
  }

  &:hover {
    p, h3 {
      transition: all .25s;
      transform: scale(1.2);
      color: $color-primary-light;
      text-decoration: underline;
      text-decoration-color: $color-primary-accent;
    }
  }
}