$xs-device: "only screen and (min-width : 320px)";
$sm-device: "only screen and (min-width : 450px)";
$md-device: "only screen and (min-width : 768px)";
$lg-device: "only screen and (min-width : 900px)";
$xl-device: "only screen and (min-width : 1200px)";

$color-primary: green;
$color-secondary: blue;
$light-gray-1: #eee;
$dark-gray-1: #444;

$font-primary-color: #444;

$margin-big: 5rem;
$margin-medium: 2.5rem;
$margin-small: 1rem;

$padding-big: 5rem;
$padding-medium: 2.5rem;
$padding-small: 1rem;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
}
