@import './variables.scss';
.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all .5s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
  &:link {
    color: $color-light-light;
  }
  &:visited {
    color: $color-light-dark;
  }
  &__active {
    color: $color-primary-accent;
    text-decoration: none;
  }
  &:hover {
    transition: all .5s;
    color: $color-primary-light;
    text-decoration-color: $color-primary-accent;
    background-position-x: 100%;
    color: #55c57a;
    transform: translateX(.2rem);
  }
}