@import '../../assets/styles/variables.scss';

.input {
  font-size: 2.2rem;
  width: 30rem;
  min-height: 8rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  padding: 1rem 2rem;
  resize: none;
  text-align: center;
  background-color: #fff;
  color: #000;

  @media #{$md-device}{
    width: 50rem;
    min-height: 5rem;
  }
}
