@import '../../assets/styles/variables.scss';
@import '../../assets/styles/animations.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  background-color: $color-dark-light;
  padding: 10rem 0 1rem 0;

  &__animated {
    background: linear-gradient(-45deg, #1dfc1d, #034e16, #1fbd1f, #076914);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 20%
  }
  25% {
    background-position: 20% 40%
  }
  50% {
    background-position: 40% 60%
  }
  75% {
    background-position: 60% 80%
  }
  100% {
    background-position: 80% 100%
  }
}

.photo {
  min-height: 15rem;
  min-width: 15rem;
  background-image: url("../../assets/images/profile-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px 1px black;
  margin-top: 2rem;
  margin-bottom: 10rem;
  @media #{$md-device} {
    min-height: 20rem;
    min-width: 20rem;
  }
  animation: slideInFromLeft 1.5s 0s ease-out;
}

.transcript {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin-small;
  width: 80%;
  color: $color-light-light;
  >p {
    margin-bottom: $margin-small;
  }
}

.transcriptToggle {
  margin-top: $margin-small;
  text-decoration: none;
  outline: none;
  background-color: none;
  width: 100px;
  transition: all 1s;
}

.autoTyper {
  animation: slideInFromRight 1.5s 0s ease-out;
  padding: 1rem 2rem;
  width: 25rem;
  min-height: 8rem;
  @media #{$sm-device} {
    width: 30rem;
    min-height: 7rem;
  }
  @media #{$md-device} {
    width: 50rem;
    min-height: 5rem;
  }
}